<tbody style="display: table-row-group ">
<tr>
  <td>
    <div class="InfoLine_Name"><p>Work Phone</p></div>
    <div class="InfoLine_Value"><p>+375-17-388-4389</p></div>
  </td>
  <td><div class="InfoLine_Name_Empty"></div><div class="InfoLine_Value_Empty"></div></td>
  <td>
    <div class="InfoLine_Name"><p>E-mail</p></div>
    <div class="InfoLine_Value"><p>uladzislau.dzeinak@netcracker.com</p></div>
  </td>
</tr>
<tr>
  <td>
    <div class="InfoLine_Name"><p>Public Cell phone (visible for all Employees)</p></div>
    <div class="InfoLine_Value"><p>+375-291-111-607</p></div>
  </td>
  <td><div class="InfoLine_Name_Empty"></div><div class="InfoLine_Value_Empty"></div></td>
  <td>
    <div class="InfoLine_Name"><p>Skype</p></div>
    <div class="InfoLine_Value"><p>v375291111607</p></div>
  </td>
</tr>
</tbody>
