<div class="test1">
    <h1 class="text">
        Hello! We are welcome to see you in our 
    </h1>
    <img class="inputImage"  src="https://wac-cdn.atlassian.com/dam/jcr:b86a32cb-0aa8-4783-aa81-9592d4fbf829/jsw-header-illustrations---v3.png?cdnVersion=1010" alt="Image">    
</div>
   <!-- <div>
       <button mat-raised-button class="regBut" color="primary"(click)="onRegisterClick()">Registration</button>
    <button mat-raised-button color="primary" (click)="onLoginClick()">Login</button>
</div> -->
   


<!--<button mat-button *ngIf="!(currentUser | async);else loginUser" (click)="onLoginClick()">Login</button>-->





