.test1{
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
}
td{
  width: 45%;
}
.photo{
  width: 1100px;
  height: 630px;

}
.text{
  font-size: 30px;
  margin-bottom: 1em;
}

.button_bottom{
  margin-left: 20%;
  margin-top: 30px;
}
.button_top{
  margin-left: 10%;
}




