<mat-toolbar >
  <div class="left">
    <button class="button_left" mat-icon-button (click)="onHomeClick()" aria-label="home">
      <mat-icon>home</mat-icon>
    </button>
    <button class="button_left" mat-button [matMenuTriggerFor]="menu"> Dashboards
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onDashboardsClick()"> <mat-icon>widgets</mat-icon> <span>Dashboard1</span> </button>
      <button mat-menu-item> <mat-icon>widgets</mat-icon> <span>Dashboard2</span> </button>
    </mat-menu>
    <button class="button_left" mat-button [matMenuTriggerFor]="menu1"> Projects
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu1="matMenu">
      <button mat-menu-item (click)="onProjectsClick()"> <mat-icon>folder</mat-icon> <span>Project1</span> </button>
    </mat-menu>
    <button class="button_left" mat-button [matMenuTriggerFor]="menu2"> Tickets
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu2="matMenu">
      <button mat-menu-item (click)="onTicketsClick()"> <mat-icon>check_box</mat-icon> <span>ticket-1</span> </button>
      <button mat-menu-item> <mat-icon>check_box</mat-icon> <span>ticket-2</span> </button>
    </mat-menu>
    <button class="button_left button_style " (click)="onCreateTicketsClick()" mat-button>
      Create
    </button>
  </div>
  <div class="right">

    <button class="button_right button_style" (click)="onSearchClick()" mat-button>
      Search <mat-icon>search</mat-icon>
    </button>
    <button mat-mini-fab class="button_right buttonIcon" (click)="onHelpImproveClick()" color="primary">
      <mat-icon>feedback</mat-icon>
    </button>
    <button mat-mini-fab class="button_right buttonIcon" (click)="onProfileClick()"  color="primary">
      <mat-icon>person</mat-icon>
    </button>
  </div>
</mat-toolbar>

<!--    <ng-template #loginUser>-->
<!--      <button mat-stroked-button (click)="onLogoutClick()">Logout</button>-->
<!--      <button class="username" color="red" mat-button [routerLink]="'profile/1'">-->
<!--        &lt;!&ndash;      {{userName | async}}&ndash;&gt;-->
<!--        <img src="assets/Icons/User.png" height="30" width="30" class="button-interval"/>-->
<!--      </button>-->
<!--    </ng-template>-->
