mat-toolbar{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button_left{
  margin-right: 15px;
}
.button_right{
  margin-right: 20px;
}
.button_style {
  background: deepskyblue;
  color: white;
}

.buttonIcon{
  color: white;
}
