mat-toolbar{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #e91e63;
  color: white;
}
.button_left{
  margin-right: 15px;
}
.button_right{
  margin-right: 20px;
}
.button_style {
  background: #f6a5c1;
  color: white;
}

.buttonIcon{
  color: white;
  background: #e91e63;
}
