<mat-toolbar color="primary">
  <div class="left">
    <button class="button_left" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Main menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item> <mat-icon>dialpad</mat-icon> <span>Redial</span> </button>
      <button mat-menu-item> <mat-icon>notifications_off</mat-icon> <span>Disable alerts</span> </button>
    </mat-menu>

    <button class="button_left" (click)="onDashboardsClick()" mat-button [matMenuTriggerFor]="menu"> Dashboards
      <mat-icon *ngIf="dashboardsCondition">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="!dashboardsCondition" >keyboard_arrow_up</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item> <mat-icon>dialpad</mat-icon> <span>Redial</span> </button>
      <button mat-menu-item> <mat-icon>notifications_off</mat-icon> <span>Disable alerts</span> </button>
    </mat-menu>

    <button class="button_left" (click)="onProjectsClick()" mat-button [matMenuTriggerFor]="menu"> Projects
      <mat-icon *ngIf="projectsCondition">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="!projectsCondition" >keyboard_arrow_up</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item> <mat-icon>dialpad</mat-icon> <span>Redial</span> </button>
      <button mat-menu-item> <mat-icon>notifications_off</mat-icon> <span>Disable alerts</span> </button>
    </mat-menu>

    <button class="button_left" (click)="onTicketsClick()" mat-button [matMenuTriggerFor]="menu"> Tickets
      <mat-icon *ngIf="ticketsCondition">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="!ticketsCondition" >keyboard_arrow_up</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item> <mat-icon>dialpad</mat-icon> <span>Redial</span> </button>
      <button mat-menu-item> <mat-icon>notifications_off</mat-icon> <span>Disable alerts</span> </button>
    </mat-menu>
    <button class="button_left button_style " (click)="onCreateTicketsClick()" mat-button>
      Create
    </button>
  </div>
  <div class="right">
    <button class="button_right button_style" (click)="onSearchClick()" mat-button>
      Search <mat-icon>search</mat-icon>
    </button>
    <button mat-mini-fab class="button_right buttonIcon" (click)="onFeedbackClick()" color="primary">
      <mat-icon>feedback</mat-icon>
    </button>
    <button mat-mini-fab class="button_right buttonIcon" (click)="onProfileClick()"  color="primary">
      <mat-icon>person</mat-icon>
    </button>
  </div>
</mat-toolbar>

<!--    <ng-template #loginUser>-->
<!--      <button mat-stroked-button (click)="onLogoutClick()">Logout</button>-->
<!--      <button class="username" color="red" mat-button [routerLink]="'profile/1'">-->
<!--        &lt;!&ndash;      {{userName | async}}&ndash;&gt;-->
<!--        <img src="assets/Icons/User.png" height="30" width="30" class="button-interval"/>-->
<!--      </button>-->
<!--    </ng-template>-->
