<div class="wrapper">
<mat-accordion>
  <mat-expansion-panel [expanded]="true" >
    <mat-expansion-panel-header >
      <mat-panel-title> General data </mat-panel-title>
    </mat-expansion-panel-header>
    <app-general-data-tab></app-general-data-tab>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel [expanded]="true" >
    <mat-expansion-panel-header>
      <mat-panel-title> Experience </mat-panel-title>
    </mat-expansion-panel-header>
    <app-experience-tab></app-experience-tab>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel [expanded]="true" >
    <mat-expansion-panel-header >
      <mat-panel-title> Location </mat-panel-title>
    </mat-expansion-panel-header>
    <app-location-tab></app-location-tab>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel [expanded]="true" >
    <mat-expansion-panel-header >
      <mat-panel-title> Contact Information </mat-panel-title>
    </mat-expansion-panel-header>
    <app-contact-info-tab></app-contact-info-tab>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel [expanded]="true" >
    <mat-expansion-panel-header >
      <mat-panel-title> Project Information </mat-panel-title>
    </mat-expansion-panel-header>
    <app-project-info-tab></app-project-info-tab>
  </mat-expansion-panel>
</mat-accordion>
</div>

