<tbody style="display: table-row-group ">
<tr>
  <td>
    <div class="details_name"><p>Assignee:</p></div>
    <div class="details_value"><p>Uladzislau Dzeinak</p></div>
  </td>
</tr>
<tr>
  <td>
    <div class="details_name"><p>Reporter:</p></div>
    <div class="details_value"><p>Danila Pinaev</p></div>
  </td>
</tr>
<tr>
  <td>
    <div class="details_name"><p>Watchers:</p></div>
    <div class="details_value">
      <button class="badgeButton" mat-raised-button matBadge="8" matBadgePosition="before" matBadgeColor="accent">
        Start watching!
      </button>
    </div>
  </td>
</tr>
</tbody>
