tr{
  display: table-row;
}
td{
  height: 16px;
  display: table-cell;
}
.details_name{
  text-align: right !important;
  min-width: 150px;
  display: table-cell;
}
.details_value{
  min-width: 150px;
  display: table-cell;
  padding-left: 30px !important;
}
