<tbody style="display: table-row-group ">
  <tr>
    <td>
      <div class="InfoLine_Name"><p>Photo</p></div>
      <div class="InfoLine_Value"><img src="https://i9.wampi.ru/2020/04/20/land_rover_range_rover_evoque_1280x1024.jpg" border="0"></div>
    </td>
    <td><div class="InfoLine_Name_Empty"></div><div class="InfoLine_Value_Empty"></div></td>
    <td>
      <div class="InfoLine_Name"><p>Full Name</p></div>
      <div class="InfoLine_Value"><p>Uladzislau Dzeinak</p></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="InfoLine_Name"><p>First Name (in native alphabet)</p></div>
      <div class="InfoLine_Value"><p>Владислав</p></div>
    </td>
    <td><div class="InfoLine_Name_Empty"></div><div class="InfoLine_Value_Empty"></div></td>
    <td>
      <div class="InfoLine_Name"><p>Last Name (in native alphabet)</p></div>
      <div class="InfoLine_Value"><p>Дейнак</p></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="InfoLine_Name"><p>Position</p></div>
      <div class="InfoLine_Value"><p>Junior Software Engineer</p></div>
    </td>
    <td><div class="InfoLine_Name_Empty"></div><div class="InfoLine_Value_Empty"></div></td>
    <td>
      <div class="InfoLine_Name"><p>Line Manager</p></div>
      <div class="InfoLine_Value"><p>Sergey V. Lavrenkin</p></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="InfoLine_Name"><p>Gender</p></div>
      <div class="InfoLine_Value"><p>Male</p></div>
    </td>
    <td><div class="InfoLine_Name_Empty"></div><div class="InfoLine_Value_Empty"></div></td>
    <td>
      <div class="InfoLine_Name"><p>Department name</p></div>
      <div class="InfoLine_Value"><p>Customer Care and Sales Management Business Practice.Minsk</p></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="InfoLine_Name"><p>Student</p></div>
      <div class="InfoLine_Value"><p>Yes</p></div>
    </td>
    <td><div class="InfoLine_Name_Empty"></div><div class="InfoLine_Value_Empty"></div></td>
    <td>
      <div class="InfoLine_Name"><p>Employment status</p></div>
      <div class="InfoLine_Value"><p>Part-time</p></div>
    </td>
  </tr>
</tbody>

