<tbody style="display: table-row-group ">
  <tr>
    <td>
      <div class="InfoLine_Name"><p>Home Country</p></div>
      <div class="InfoLine_Value"><p>Belarus</p></div>
    </td>
    <td><div class="InfoLine_Name_Empty"></div><div class="InfoLine_Value_Empty"></div></td>
    <td>
      <div class="InfoLine_Name"><p>Home Office</p></div>
      <div class="InfoLine_Value"><p>Minsk</p></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="InfoLine_Name"><p>Current Location</p></div>
      <div class="InfoLine_Value"><p>Minsk</p></div>
    </td>
    <td><div class="InfoLine_Name_Empty"></div><div class="InfoLine_Value_Empty"></div></td>
    <td>
      <div class="InfoLine_Name"><p>Permanently work at</p></div>
      <div class="InfoLine_Value"><p>Company Office</p></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="InfoLine_Name"><p>Planned business trip end date</p></div>
      <div class="InfoLine_Value"><p></p></div>
    </td>
    <td><div class="InfoLine_Name_Empty"></div><div class="InfoLine_Value_Empty"></div></td>
    <td>
      <div class="InfoLine_Name"><p>Planned leave end date</p></div>
      <div class="InfoLine_Value"><p></p></div>
    </td>
  </tr>
</tbody>
