<tbody style="display: table-row-group ">
  <tr>
    <td>
      <div class="InfoLine_Name"><p>Start Date</p></div>
      <div class="InfoLine_Value"><data>06/27/2019</data></div>
    </td>
    <td><div class="InfoLine_Name_Empty"></div><div class="InfoLine_Value_Empty"></div></td>
    <td>
      <div class="InfoLine_Name"><p>Start Date in company</p></div>
      <div class="InfoLine_Value"><data>06/27/2019</data></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="InfoLine_Name"><p>Experience in company</p></div>
      <div class="InfoLine_Value"><data>0 years 9 months 23 days</data></div>
    </td>
    <td><div class="InfoLine_Name_Empty"></div><div class="InfoLine_Value_Empty"></div></td>
    <td>
      <div class="InfoLine_Name"><p>Service Date</p></div>
      <div class="InfoLine_Value"><data>06/27/2019</data></div>
    </td>
  </tr>
</tbody>
