body{
  background-color: #424242;
  color: white;
}
.tab{
  background-color: white;
  color: white;
}
mat-tab-label{
  color: white;
}
mat-ink-bar{
  background-color: black;
}
.example-button-toggle-label {
  display: inline-block;
  margin: 16px;
}
