<tbody style="display: table-row-group ">
<tr>
  <td>
    <div class="InfoLine_Name"><p>Current Assignment</p></div>
    <div class="InfoLine_Value"><p>Uladzislau Dzeinak-NetCracker-032020</p></div>
  </td>
  <td><div class="InfoLine_Name_Empty"></div><div class="InfoLine_Value_Empty"></div></td>
  <td>
    <div class="InfoLine_Name"><p>On-site Project Manager</p></div>
    <div class="InfoLine_Value"><p>Oleg Safonov</p></div>
  </td>
</tr>
<tr>
  <td>
    <div class="InfoLine_Name"><p>Current Project Role</p></div>
    <div class="InfoLine_Value"><p class="wrap">Jr. Developer</p></div>
  </td>
  <td><div class="InfoLine_Name_Empty"></div><div class="InfoLine_Value_Empty"></div></td>
  <td>
    <div class="InfoLine_Name"><p>Off-site Project Manager</p></div>
    <div class="InfoLine_Value "><p class="wrap"></p></div>
  </td>
</tr>
</tbody>

