<tbody style="display: table-row-group ">
  <tr>
    <td>
      <div class="details_name"><p>Ticket type:</p></div>
      <div class="details_value"><p>Type</p></div>
    </td>
    <td><div class="details_name_empty"></div><div class="details_value_empty"></div></td>
    <td>
      <div class="details_name"><p>Status:</p></div>
      <div class="details_value"><p>Assessment</p></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="details_name"><p>Priority: </p></div>
      <div class="details_value"><p>Priority Type</p></div>
    </td>
    <td><div class="details_name_empty"></div><div class="details_value_empty"></div></td>
    <td>
      <div class="details_name"><p>Resolution:</p></div>
      <div class="details_value"><p>Unresolved</p></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="details_name"><p>Components:</p></div>
      <div class="details_value"><p>onetwo</p></div>
    </td>
    <td><div class="details_name_empty"></div><div class="details_value_empty"></div></td>
    <td>
      <div class="details_name"><p>Revision:</p></div>
      <div class="details_value"><p>123456</p></div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="details_name"><p>Server URL:</p></div>
      <div class="details_value"><p>http://localhost:4200/ticket</p></div>
    </td>
    <td><div class="details_name_empty"></div><div class="details_value_empty"></div></td>
    <td><div class="details_name_empty"></div><div class="details_value_empty"></div></td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="details_name"><p>Labels:</p></div>
      <div class="details_value"><mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                    [removable]="removable" (removed)="remove(fruit)">
            {{fruit.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder=""
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
      </div>
    </td>
    <td><div class="details_name_empty2"></div><div class="details_value_empty2"></div></td>
    <td><div class="details_name_empty2"></div><div class="details_value_empty2"></div></td>
  </tr>
  <tr>
    <td>
      <div class="details_name"><p>Test Case:</p></div>
      <div class="details_value">
        <div class="display">
          <mat-form-field appearance="outline" class="test_case_field">
            <mat-label>Steps: </mat-label>
            <ng-container *ngIf="pressed; else pressedTrue">
              <textarea rows="8" matInput disabled></textarea>
            </ng-container>
            <ng-template #pressedTrue >
              <textarea rows="8" matInput></textarea>
            </ng-template>
            <mat-hint>If you click on the icon you can change the value of this field.</mat-hint>
          </mat-form-field>
          <button mat-mini-fab class="icon_button" (click)="OnEditIconClick()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
    </td>
    <td><div class="details_name_empty"></div><div class="details_value_empty"></div></td>
    <td><div class="details_name_empty"></div><div class="details_value_empty"></div></td>
  </tr>

</tbody>
